.header {
  height: 11vh;
  width: 100%;
  background: #302644;
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  backdrop-filter: blur(20rem);
  align-items: center;
}
.left-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.logo {
  font-size: 3.5rem;
}
.left-header {
  gap: 8rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 30px;
}
.nav-links {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
.right-header {
  gap: 30px;
}
.right-header p {
  font-size: 1.4rem;
}
.right-header button {
  background-color: #28a985;
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  color: white;
  transition: all 0.25s ease-in-out;
}
.right-header button:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(0.95);
}
.mobile {
  display: none;
}
.overflow {
  overflow-y: hidden;
}
@media screen and (max-width: 1339px) {
  .header {
    padding: 0rem 2rem;
  }
  .left-header {
    gap: 2rem;
  }
}
@media screen and (max-width: 1014px) {
  .mobile {
    display: block;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .logo {
    position: relative;
    z-index: 4;
  }
  .right-header {
    display: none;
  }
  nav {
    position: absolute;
    left: -1000px;
    width: 40vw;
    height: 100vh;
    top: 0;
    background-color: #302644;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 6rem;
    transition: all 0.45s ease-in-out;
  }
  .open {
    left: 0;
  }
  .nav-links {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 659px) {
  nav {
    width: 60vw;
  }
}
@media screen and (max-width: 462px) {
  nav {
    width: 80vw;
  }
}
